# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java compiled files
*.class

# Spring Boot
HELP.md

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# Environment / secrets
.env